@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  /* max-height: 1080px; */
  /* background: #333333; */
}

footer {
  position: absolute;
  width: 226px;
  height: 17px;
  left: 45%;
  top: 870px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 20px;
  /* line-height: 17px; */
}

img {
  position: absolute;
  width: 500px;
  left: 5%;
  right: 57.21%;
  top: 20%;
  bottom: 34.03%;
}

.not-found {
  width: 100%;
}

.not-found-title {
  margin-top: 40px;
  margin-left: 77px;
}

.content-heading {
  position: absolute;
  width: 586px;
  height: 190px;
  left: 50%;
  top: 100px;
}

.content-heading p {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
}

.content-text {
  position: absolute;
  width: 381px;
  height: 108px;
  left: 50%;
  top: 385px;
  word-spacing: 15px;
}

.content-container {
  display: flex;
}

.content-text p {
  /* font-family: Space Mono; */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.content-btn {
  position: absolute;
  width: 216px;
  height: 68px;
  left: 50%;
  top: 600px;
  background: #333333;
  color: #fff;
  height: 68px;
  cursor: pointer;
}

.content-btn p {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  left: 28px;
  top: 10px;
}

@media screen and (max-width: 1060px) {
  .content-heading,
  .content-text,
  .content-btn {
    left: 55%;
  }

  .content-text {
    top: 350px;
  }
  .content-heading p {
    font-size: 60px;
  }
}

@media screen and (max-width: 955px) {
  .content-heading,
  .content-text,
  .content-btn {
    left: 65%;
  }
  footer {
    left: 55%;
  }
}

@media screen and (max-width: 789px) {
  .content-heading,
  .content-text,
  .content-btn {
    left: 75%;
  }
  footer {
    left: 65%;
  }
}

@media screen and (max-width: 668px) {
  .content-heading,
  .content-text,
  .content-btn {
    left: 85%;
  }

  footer {
    left: 80%;
  }
}
@media screen and (max-width: 640px) {
  footer {
    top: 140%;
    left: 70%;
  }
  img {
    left: 25%;
  }

  .content-heading {
    top: 70%;
    left: 20%;
  }

  .content-heading p {
    font-size: 60px;
    /* width: 350px; */
  }

  .content-text {
    top: 95%;
    left: 20%;
    /* width: 328px; */
  }

  .content-btn {
    top: 118%;
    left: 20%;
  }
}
@media screen and (max-width: 375px) {
  .content-heading {
    font-size: 100px;
    top: 65%;
    left: 25%;
  }
  .content-heading p {
    width: 100%;
    font-size: 70px;
  }

  .content-text {
    top: 95%;
    left: 25%;
  }

  .content-text p {
    font-size: 30px;
  }

  .content-btn {
    top: 120%;
    left: 25%;
  }

  footer {
    top: 140%;
    left: 70%;
  }
}
